:root {
    --disk-heder: #06131f;
    --disks-main-bgc: #1d2d3c;
    --disks-cards-bgc: #112030;
}

.main {
    background-color: var(--disks-main-bgc);
    height: 1000px;
}

.header {
    height: 150px;
    background-color: var(--disk-heder);
}



.logo {
    width: 250px;
    height: 100px;
    margin-top: 1rem;
}

.cards {
    background-color: var(--disks-cards-bgc);
    color: white;
    display: flex;
    gap: 1rem;
    width: 250px;
}

.title {
    font-size: 25px;
}

.year {
    font-size: 20px;
}

.poster {
    height: 125px;
    width: 125px;
}